.aiie-content-editor-view {
  box-sizing: border-box;
  padding: 20px;
  width: 800px;
  margin: 30px auto;
  border: 1px solid #eee;
  min-height: 300px;
}
.ProseMirror {
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}